body {
    font-family: 'B612 Mono', monospace;
    background-color: white;
}

.border {
    border-width:5px !important;
}

@media (max-width:480px) {
    .border
    {
        border:0 solid !important;
    }
    .longtext {
        margin-top: 16px !important;
    }
}

@media (max-width:990px) {
    .longtext {
        margin-top: 16px !important;
    }
}


.sectitle h4 {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 1.5rem 0 1.5rem;
    white-space: nowrap;
    overflow: hidden;
}

.text-centered h4 {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

a:visited {
    text-decoration:none;
}

footer a {
    text-decoration:none;
    color: white;
}

footer a:visited {
    text-decoration:none;
    color: white;
}